html,
body {
	margin: 0;
	padding: 0;
	background: white;
	overflow-x: hidden

}

nav .current a {
	border-bottom: #e40035 solid 2px;
}

h1,
h2,
h3 {

	font-family: "century gothic";
}

img {
	pointer-events: none
}

header {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	/* min-height: 100vh; */
	/* border-bottom: #e40035 solid 3px; */
	margin-bottom: 90px;
}

strong {
	color: #e40035;
}


/* main page */
.logo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 1px;
	padding: 10vh 10%;

}

.logo .background {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("/Verwenbar/DSC00637.jpg");
}

header .logo h1 {
	margin: auto;
	padding-top: 100px;
	text-align: center;
	font-size: 3em;
	font-family: "century gothic";
	margin-top: 0;
}

nav{
	position: fixed;
	width: 100%
}


header nav #navbar{
	z-index: 900;
	list-style-type: none;
	background-color: #fffffff0;
	display: inline-flex;
	width: 100%;
	justify-content: space-around;
	transition: 1s;

}

header nav ul,
nav li,
nav a {
	margin: 0;

}

header nav a {
	color: black;
	text-decoration: none;
	font-family: "century gothic";
	font-size: 1em;
}

header nav .icon {
	align-content: flex-start
}


header nav li {
	padding: 1em 0.5em;
}

footer {
	display: inline-block;
	width: 100%;
	height: 60px;
	background-color: #e40035;
	overflow: hidden;
}

footer a {
	color: white;
	text-decoration: none;
	font-family: 'century gothic';
	padding: 1em;
}

footer .left {
	float: left;
	height: auto;

}

footer .right {
	float: right;
}



.content {
	min-height: 100vh;
	width: 100%;
	color: black;

}

.content .container {
	width: 100%;
	height: auto;
	/* background: white; */
}

.text {
	height: auto;
	text-align: center;
	font-size: 1.2em;
	background-color: #f5f2eb;


}

.text p {
	font-family: 'arial';
	margin: 0;
	width: 80%;
	padding: 5% 10%;
}


/* colors */

.container h2 {
	color: black;
}

.col1 {
	background-color: #dcdcdc;
	color: black
}

.col2 {
	background-color: #f5f2eb;
}

.col3 {
	background-color: #e40035;
	color: white;
}







/* Title */


.title {
	padding: 1% 5%;
	width: 90%;
}

.title h2 {
	font-weight: normal;
	font-size: 2em;
	font-family: "century gothic";
	margin: 0;
	/* border-bottom: solid 2px #e40035; */
}

/* image element */


/* Images ellement */

.images .elements {
	padding: 1% 5%;
	display: flex;
	flex-flow: row-reverse;
	flex-wrap: wrap;
	flex-shrink: 0;
	justify-content: space-around;
}

.images .elements .el {
	margin-bottom: 20px;
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 25%;
	flex-basis: 350px;
	transition: 1s
}


.images .elements .el:hover {
	transform: scale(1.07);
	transition: 1s;
	/* border: solid 1px rgb(138, 138, 138) */
	cursor: pointer;
	box-shadow: 0 0 50px 5px black
}

.images .elements .el img {
	z-index: 1;
	min-height: 200px;
	margin-left: auto;
	width: 100%;
	height: auto;
}

.images .elements .el h2 {
	z-index: 2;
	position: absolute;
	background: #f2f2f280;
	border-bottom: solid 2px #e40035;
	margin: 0;
	top: 0px;
	width: 100%;
	font-weight: normal;
}

.images .elements .el h1 {
	z-index: 2;
	background: #f2f2f280;
	border-bottom: solid 2px #e40035;
	margin: 0;
	position: absolute;
	padding: 20px 0;
	font-size: 3em;
	width: 100%;
	font-family: "century gothic";
	font-weight: normal;
}

.images .elements .el h3 {
	z-index: 2;
	background: #f2f2f280;
	border-bottom: solid 2px #e40035;
	padding: 10px 0;
	margin: 0;
	font-size: 1em;
	width: 100%;
	font-family: "century gothic";
	font-weight: normal;
}

/* persone */

.personen {
	width: 20%;
}

.personen .elements {}

.personen .elements .el {
	width: auto;
	height: auto;
	flex-basis: 200px
}

.personen .elements .el:hover {
	transform: scale(1);
	transition: 1s;
	/* border: solid 1px rgb(138, 138, 138) */
	cursor: unset;
	box-shadow: none
}

/* angebote */

.angebote .elements .el {
	width: 100px;
	height: auto;
	flex-basis: 400px;
	transition: 1s
}

.angebote .elements .el h1,
.angebote .elements .el p {
	position: relative;
}

.angebote .elements .el p {
	margin: 10px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* List element */



.list .elements {
	font-family: 'century gothic';
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 80%;
	height: auto;
	padding: 5% 10%;
	justify-content: center;
}

.list .elements .el {
	display: flex;
	padding: 1em;
	height: auto;
	width: 450px;
	/* flex-basis: auto */

}

.list .elements .el a {
	font-weight: bolder;
	font-size: 1em;
	text-decoration: none;
	color: inherit;
}

.list .elements .el p {
	margin-left: 1em;

}


.slideshow {
	min-height: 100vh;
	background: url('/Verwenbar/DSC09693.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	animation: slideshow alternate infinite ease-in-out;
	animation-duration: 10s;

}



@keyframes slideshow {

	33% {
		background: url("/Verwenbar/DSC09650.jpg");
		background-size: cover;
		background-position: center;
	}

	66% {
		background: url("/Verwenbar/DSC00637.jpg");
		background-size: cover;
		background-position: center;
	}

	100% {
		background: url("/Verwenbar/DSC09699.jpg");
		background-size: cover;
		background-position: center;
	}


}

.dropdown a{
	padding: 1em;
	font-size: 3em;
}

.dropdown {
	border-bottom: #e40035 solid 3px;
	position: relative;
	display: block;
	margin: 10px 5px;
	cursor: pointer;
	width: 100%;
	text-align: right;

}

#navbar {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: right;
}

@media only screen and (max-width: 900px) {

}
